.mainpic {
  width: 100%;
  text-align: center;
}
.mainpic img {
  width:250px;
  height:250px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  text-align: left;
}

.homepadding {
  width: auto;
}

@media only screen and (min-width: 750px) {
    .mainpic {
      text-align: none;
    }
    .mainpic img {
      float: right;
      margin-left:20px;
      margin-bottom: 20px;
    }
}

@media only screen and (min-width: 900px) {
  .homepadding {
    width: 720px;
    margin: auto;
  }
}

:root {
  --clr-primary: #215C47;
}
.darkmode {
  --clr-light: #215C47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-light: #215C47;
    --clr-primary: #FFFFFF;
  }

  .darkmode {
    --clr-light: #FFFFFF;
    --clr-primary: #215C47;
  }
}