::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

body {
  margin: 0px;
  background-color: #ffffff;
  margin-bottom: 75px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

  display:flex;
  justify-content:space-between;
}

.topnav > .links {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  height: 60px;
}
.topnav > .links > a {
  padding: 8px;
  width: 20px;
  display: flex;
}
.topnav > .links > a > img {
  width: 100%;
}
.topnav > .links > .li:hover {
  filter: invert(26%) sepia(98%) saturate(1604%) hue-rotate(179deg) brightness(96%) contrast(101%);
}
.topnav > .links > .ig:hover {
  filter: invert(29%) sepia(37%) saturate(3863%) hue-rotate(300deg) brightness(85%) contrast(84%);
}
.topnav > .links > .tt:hover {
  filter: invert(52%) sepia(49%) saturate(911%) hue-rotate(165deg) brightness(94%) contrast(103%);
}
.topnav > .links > .rd:hover {
  filter: invert(34%) sepia(91%) saturate(2954%) hue-rotate(359deg) brightness(99%) contrast(109%);
}
.topnav > .links > .fb:hover {
  filter: invert(33%) sepia(7%) saturate(5006%) hue-rotate(183deg) brightness(95%) contrast(86%);
}
.topnav > .links > .yt:hover {
  filter: invert(17%) sepia(77%) saturate(6218%) hue-rotate(1deg) brightness(105%) contrast(140%);
}
.topnav > .links > .gh:hover {
  filter: invert(36%) sepia(11%) saturate(2254%) hue-rotate(222deg) brightness(95%) contrast(86%);
}

.topnav > .title {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
  height: 60px;
}
.topnav > .title > input {
  padding: 8px;
  width: 20px;
  display: flex;
}
.topnav > .title > p {
  line-height: 28px;
  margin-left: 8px;
}

.topnav > .pages {
  display:flex;
  justify-content:center;
  line-height: 35px;
  height: 60px;
}
.topnav > .pages > a {
  width: 120px;
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  border-radius: 12px;
  margin: 12px 6px;
}
.topnav > .pages > a:hover {
  color: white;
  background: #AF7B2D;
}
.topnav > .pages > a.active {
  color: white;
  background-color: #215C47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topnav > .right {
  display: none;
}

@media screen and (max-width: 875px) {
  .topnav > .links {
    display: none;
  }

  .topnav > .title > p {
    display: none;
  }
  .topnav > .title {
    width: 50px;
  }

  .topnav > .right {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    height: 60px;
  }
  .topnav > .right > .burger {
    padding: 8px;
    width: 20px;
    display: flex;
  }
  .topnav > .right > .burger > img {
    width: 100%;
  }
  .topnav > .right > .close {
    display: none;
  }

  /*--all toggle classes go below--*/
  .topnav.open {
    width: 100%;
    height: 120px;
  
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  .topnav.open > .links {
    width: 100%;
    display: flex;
    /* justify-content:space-evenly; */
    justify-content: center;
    padding-right: 0px;
  }

  .topnav.open > .right > .close {
    padding: 8px;
    width: 20px;
    display: flex;
  }
  .topnav.open > .right > .close > img {
    width: 100%;
  }
  .topnav.open > .right > .burger {
    display: none;
  }
}