:root {
  --clr-light: #FFFFFF;
  --clr-dark: #000000;
}
.darkmode {
  --clr-dark: #FFFFFF;
  --clr-primary: #FFFFFF;

  --clr-buttons: invert(100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-dark: #FFFFFF;

    --clr-buttons: invert(100%);
  }

  .darkmode {
    --clr-dark: #000000;

    --clr-buttons: invert(0%);
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--clr-light);
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

body {
  margin: 0px;
  background-color: var(--clr-light);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--clr-dark);
}

.pagewrap {
  text-align: center;
  margin: 90px;
}
@media screen and (max-width: 512px) {
  .pagewrap {
      margin-left: 30px;
      margin-right: 30px;
  }
}

.topnav {
  overflow: hidden;
  background-color: var(--clr-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

  display:flex;
  justify-content:space-between;
}

.topnav > .links {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  height: 60px;
}
.topnav > .links > a {
  padding: 8px;
  width: 20px;
  display: flex;
  filter: var(--clr-buttons);
}
.topnav > .links > a > img {
  width: 100%;
}
.topnav > .links > .li:hover {
  filter: invert(26%) sepia(98%) saturate(1604%) hue-rotate(179deg) brightness(96%) contrast(101%);
}
.topnav > .links > .ig:hover {
  filter: invert(29%) sepia(37%) saturate(3863%) hue-rotate(300deg) brightness(85%) contrast(84%);
}
.topnav > .links > .tt:hover {
  filter: invert(52%) sepia(49%) saturate(911%) hue-rotate(165deg) brightness(94%) contrast(103%);
}
.topnav > .links > .rd:hover {
  filter: invert(34%) sepia(91%) saturate(2954%) hue-rotate(359deg) brightness(99%) contrast(109%);
}
.topnav > .links > .fb:hover {
  filter: invert(33%) sepia(7%) saturate(5006%) hue-rotate(183deg) brightness(95%) contrast(86%);
}
.topnav > .links > .yt:hover {
  filter: invert(17%) sepia(77%) saturate(6218%) hue-rotate(1deg) brightness(105%) contrast(140%);
}
.topnav > .links > .gh:hover {
  filter: invert(36%) sepia(11%) saturate(2254%) hue-rotate(222deg) brightness(95%) contrast(86%);
}

.topnav > .title {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
  height: 60px;
}
.topnav > .title > input {
  padding: 8px;
  width: 20px;
  display: flex;
  filter: var(--clr-buttons);
}
/* .topnav > .title > input:hover {
  filter: invert(25%) sepia(75%) saturate(401%) hue-rotate(107deg) brightness(92%) contrast(83%);
} */
.topnav > .title > p {
  line-height: 28px;
  margin-left: 8px;
}

.topnav > .pages {
  display:flex;
  justify-content:center;
  line-height: 35px;
  height: 60px;
}
.topnav > .pages > a {
  width: 120px;
  display: block;
  color: var(--clr-dark);
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  border-radius: 12px;
  margin: 12px 6px;
}
.topnav > .pages > a:hover {
  color: var(--clr-light);
  background: var(--clr-primary);
}
.topnav > .pages > a.active {
  color: var(--clr-light);
  background-color: var(--clr-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topnav > .right {
  display: none;
}

@media screen and (max-width: 900px) {
  .topnav > .links {
    display: none;
  }

  .topnav > .title > p {
    display: none;
  }
  .topnav > .title {
    width: 50px;
  }

  .topnav > .right {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    height: 60px;
  }
  .topnav > .right > .burger {
    padding: 8px;
    width: 20px;
    display: flex;
    filter: var(--clr-buttons);
  }
  /* .topnav > .right > .burger:hover {
    filter: invert(49%) sepia(66%) saturate(446%) hue-rotate(357deg) brightness(90%) contrast(93%);
  } */
  .topnav > .right > .burger > img {
    width: 100%;
  }
  .topnav > .right > .close {
    display: none;
  }

  /*--all toggle classes go below--*/
  .topnav.open {
    width: 100%;
    height: 120px;

    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  .topnav.open > .links {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }

  .topnav.open > .right > .close {
    padding: 8px;
    width: 20px;
    display: flex;
    filter: var(--clr-buttons);
  }
  /* .topnav.open > .right > .close:hover {
    filter: invert(49%) sepia(66%) saturate(446%) hue-rotate(357deg) brightness(90%) contrast(93%);
  } */
  .topnav.open > .right > .close > img {
    width: 100%;
  }
  .topnav.open > .right > .burger {
    display: none;
  }
}

@media screen and (max-width: 512px) {
  .topnav > .pages > .inactive {
    display: none;
  }

  .topnav.open {
    height: 240px;
  }

  .topnav.open > .pages {
    flex-direction: column;
    height: 180px;
  }
  .topnav.open > .pages > .inactive {
    display: block;
  }
}