body {
  margin: 0px;
  background-color: #ffffff;
  margin-bottom: 75px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;

  display:flex;
  justify-content:space-between;
}

.topnav > .links {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
.topnav > .links > a {
  padding: 8px;
  width: 20px;
  display: flex;
}

.topnav > .links > a > img {
  width: 100%;
}

.topnav > .title {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
}

.topnav > .title > input {
  padding: 8px;
  width: 20px;
  display: flex;
}

.topnav > .title > p {
  line-height: 28px;
  margin-left: 8px;
}

.topnav > .pages {
  display:flex;
  justify-content:center;
  line-height: 35px;
}

.topnav > .pages > a {
  width: 150px;
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  border-radius: 12px;
  margin: 12px;
}
.topnav > .pages > a:hover {
  color: white;
  background: #AF7B2D;
}
.topnav > .pages > a.active {
  color: white;
  background-color: #215C47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topnav .icon {
  display: none;
}
.topnav .iconback {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a {
    display:none;
  }
  .topnav a.icon {
    float: none;
    display: block;
    width: 100%;
  }
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .topnav.responsive a.icon {
    display: none;
  }
  .topnav.responsive a.iconback {
    float:none;
    display: block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
}