.pagewrap > img {
    margin: 7.5px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

:root {
  --clr-primary: #3B1C7C;
}
.darkmode {
  --clr-light: #3B1C7C;
}
  
@media (prefers-color-scheme: dark) {
  :root {
    --clr-light: #3B1C7C;
    --clr-primary: #FFFFFF;
  }

  .darkmode {
    --clr-light: #FFFFFF;
    --clr-primary: #3B1C7C;
  }
}